<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectGarage</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerInfo</display-name>
    <servlet-name>CustomerInfo</servlet-name>
    <servlet-class>com.CustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInfo</servlet-name>
    <url-pattern>/CustomerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo2</display-name>
    <servlet-name>Demo2</servlet-name>
    <servlet-class>com.Demo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2</servlet-name>
    <url-pattern>/Demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modify</display-name>
    <servlet-name>Modify</servlet-name>
    <servlet-class>com.Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/Modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerInfo</display-name>
    <servlet-name>WorkerInfo</servlet-name>
    <servlet-class>com.WorkerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerInfo</servlet-name>
    <url-pattern>/WorkerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicingInfo</display-name>
    <servlet-name>ServicingInfo</servlet-name>
    <servlet-class>com.ServicingInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicingInfo</servlet-name>
    <url-pattern>/ServicingInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddService</display-name>
    <servlet-name>AddService</servlet-name>
    <servlet-class>com.AddService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddService</servlet-name>
    <url-pattern>/AddService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>com.Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
</web-app>